* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}

.NavbarItems{
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: white;
    justify-self: start;
    width: 50vh;
    padding-left: 2rem;
}

.fab.fa-react{
    padding-left: 0.5rem;
}

.nav-items {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    padding-right: 5%;
    justify-content: end;
    color: white;
}

.nav-links {
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

.fas.fa-shopping-cart {
    padding-left: 1em;
}


.Producto {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    width: 8em;
    align-items: center;
}
.Contador {
    display: flex;
}

.Contador p {
    width: 2em;
    font-size: 1em;
    padding-top: 0.2em;
    text-align: center;
}

.Contador button {
    padding: 0.2em 0.6em 0.3em 0.6em;
    border-radius: 40%;
    border-color: grey;
}

.AgregarCarrito {
    margin-top: 0.5em;
    padding: 0.2em 0.6em 0.3em 0.6em;
    border-radius: 1em;
    border-color: grey;
}

.ItemCard {
    background-color: cadetblue;
    width: 8em;
}

.ItemCard h3 {
    text-align: center;
    font-size: 15px;
}

.ItemCard img {
    text-align: center;
    display: flex;
    align-items: center;
}


